// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.logo {
        max-height: 50px;
        max-width: 50px;
    }

.logo-text {
        line-height: 50px;
    }
